
<div class="bio">
	<p>
		<%= form_for User.new do |f| %>
			<%= f.label :user, "Please enter a username (so we can keep score):"  %><br/>
			<%= f.text_field :username %><br/>
			<%= f.submit "Play!" %><br/>
		<% end %>
	</p>
</div>



