
<div class="bio">
	<p>
		<%= form_tag do %>
			<%= label_tag(:username, "Please enter a username (so we can keep score):") %><br/>
			<%= text_field_tag(:username) %><br/>
			<%= submit_tag("Play!", :disable_with => "Please wait...") %><br/>
		<% end %>
	</p>
</div>



